<div class="authorizationContainer">
    <form (ngSubmit)="doAuth()" class="myForm" [formGroup]="authForm">
        <div class="authContainer">
          <label for="login">Login<br></label>
          <input formControlName="login" name="login" id="login" type="text" class="inputItem">
        </div>
        <div class="authContainer">
            <label for="password" id="password">Password<br></label>
            <input formControlName="password" name="password" type="password" class="inputItem">
        </div>
        <button class="btn" type="submit">Confirm</button>
        <div *ngIf="authorization.authError" class="inputError">Wrong login or password</div>
        <div class="navDiv">Don't have an account? <span (click)="navigateRegistartion()"
          class="navText">Create a chat account</span>
        </div>
    </form>

</div>

