<div class="chat">
  <div class="chatContainer">
    <div class="infoContainer">
      <div class="userContainer">
        <div class="user">{{userData.user}}</div>
        <button class="btn" (click)="logout()">logout</button>
      </div>
      <div class="roomlist">
        <div class="createRoom">
          <input [(ngModel)]="roomName" type="text" name="roomcreater" class="intput">
          <button class="RoomCreaterBtn" (click)="createRoom()">Create room</button>
        </div>
        <div class="roomContainer">
          <div *ngFor="let room of rooms" class="roomsCard">
            <div [ngClass]="'roomItem'"
            (click)="joinToTheRoom(room.name, room.room_id, room.closed); getMessages(room.room_id)">
              <div class="roomName">{{room.name}}</div>
            </div>
            <div class="roomInfoBlock">
              <div class="messageCount">{{room.mescount}}
              </div>
              <button *ngIf="room.closed === false" (click)="closeRoom(room.room_id, room.creater_id)" class="closeBtn">L</button>
              <button (click)="deleteRoom(room.room_id)"
                  class="deleteBtn">X</button>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="chatCard">
    <div class="currentRoomInfo">
      <div class="roomTitile">Current room:</div>
      <div class="currentRoomName">{{currentRoomName}}</div>
    </div>
    <div class="chatMessages">
      <div *ngFor="let message of messageList" class="message">
        <div [ngClass]="message.login === userData.user ? 'ownMessage' : 'usersMessages'">
          <div class="user">{{message.login}}:
            <button *ngIf="message.login !== 'bot'" (click)="deleteMessage(message.messageid)" class="deleteBtn">X</button>
          </div>
          <div>
            <div class="userMessage">{{message.message}}</div>
            <div class="date">{{message.date | date:"short"}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="chatInput">
      <input [(ngModel)]="newMessage" type="text" class="input" name="message" id="message" (keyup.enter)="sendMessage()">
      <button type="submit" (click)="sendMessage()"  class="btn inputBtn">Send Message</button>
    </div>
  </div>
</div>
</div>
