<app-header></app-header>
<div class="chat">

  <div class="infoContainer">
    <div class="roomlist">
      <div class="createRoom">
        <div *ngIf="showCreatorPopup === true" class="create-room-modal">
          <div class="modal-content">
            <div class="title">Imput chat name</div>
            <input [(ngModel)]="roomName" type="text" name="roomcreater" class="intput">
            <div *ngIf="error === true" class="createRoomError">a room name minimun 2 and maximum 20 characters</div>
            <button class="room-creater-btn" (click)="createRoom()">Add chat</button>
            <button class="btn-quit" (click)="closeCreatePopUpMenu()">Close</button>
          </div>

        </div>
        <button class="RoomCreaterBtn" (click)="showCreatePopUpMenu()">+ Add chat</button>
      </div>

      <div class="roomContainer">
        <div *ngFor="let room of rooms" class="roomsCard">
          <div *ngIf="room.closed === false" [ngClass]="this.currentRoomName === room.name ? 'curRoom' : 'roomItem'">
            <div class="roomItem"
              (click)="joinToTheRoom(room.name, room.room_id, room.closed, room.creater_id); getMessages(room.room_id)">
              <div class="roomName">{{room.name}}</div>
            </div>

            <div class="roomInfoBlock">
              <div class="messageCount">{{room.mescount}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="chatContainer">


    <div class="chatCard">
      <div class="currentRoomInfo">
        <div class="currentRoomName">{{currentRoomName}}</div>
        <div class="roomButtons">
          <button *ngIf="this.activeRoom.status === false && activeRoom.createrId == userData.userid && currentRoomName !== ''"
          (click)="closeRoom(this.activeRoom.roomId , this.activeRoom.createrId)" class="closeBtn">close</button>
          <button *ngIf="this.activeRoom.createrId == userData.userid && currentRoomName !== ''" (click)="deleteRoom(this.activeRoom.roomId)" class="deleteBtn">delete</button>
        </div>

      </div>
      <div class="chatMessages">
        <div class="messagesBlock">
          <div *ngFor="let message of messageList" class="message" [@simpleFadeAnimation]="'in:leave'">

            <div [ngClass]="message.login === userData.user ? 'ownMessage' : 'usersMessages'">
              <div class="user">{{message.login}}:
                <button *ngIf="message.login !== 'bot' && message.userId === userData.userid" (click)="deleteMessage(message.messageid)"
                  class="deleteBtn">X</button>
              </div>
              <div>
                <div class="userMessage">{{message.message}}</div>
                <div class="date">{{message.date | date:"short"}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="chatInput">
        <input [(ngModel)]="newMessage" type="text" class="input" name="message" id="message"
          (keyup.enter)="sendMessage()">
        <div><button type="submit" (click)="sendMessage()" class="btn inputBtn">Send Message</button></div>
      </div>
    </div>
  </div>
</div>
