$size: 25px;

.chat{
    display: flex;

    .infoContainer{
      width: 270px;
      min-width: 270px;
      height: 100vh;
      background-color: white;
      border-right: 0.2px solid #eee9e9;

      .userContainer{
        display: block;
        padding: 20px 0px 0px 20px;
        font-size: $size;
        width: 50px;

        .btn{
          padding: 5px;
          background-color: #990033;
          border-radius: 6px;
          color: #ffe6ee;

          &:hover{
            cursor: pointer;
            background-color: #4d0019;
          }
        }
      }

      .roomlist{
        //display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        //width: 200px;

        .createRoom{
          padding-left: 15px;
          margin-top: 30px;
          margin-bottom: 10px;

          .intput{
            border-radius: 10px;
            border: none;
            box-shadow: inset 1px 1px 2px black;
            background-color: #eee9e9;


            height: 25px;
            width: 170px;

            font-size: 14pt;
          }

          .RoomCreaterBtn {
            width: 170px;
            height: 25px;
            margin-top: 4px;
            background-color: #6600cc;
            color: #f2e6ff;
            border: none;
            border-radius: 3px;
            box-shadow: 2px 1px 1px #2e015c;

            text-shadow: 1px 1px 1px #2e015c;

            &:hover{
              cursor: pointer;
            }
          }
        }

        .roomContainer{
          display: flex;
          flex-direction: column;
          height: 100vh;
          overflow: auto;
          //background-color: #f1eaf5;

          .roomsCard{
            display: flex;
            align-items: center;

            .roomItem{
              display: flex;
              align-items: center;
              flex-grow: 3;
              overflow: hidden;
              height: 40px;
              padding-left: 5px;
              border-bottom: 0.1px solid #cbc9ce;


              font-size: 18px;
              &:hover {
                cursor: pointer;
              }

              .curRoom{
                background-color: #bc87ec;
                border: solid 0.5px #cbc9ce;
                height: 40px;

                font-size: 18px;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            .roomInfoBlock{
              display: flex;
              justify-content: flex-end;
              //float:right;

              .messageCount{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 15px;
                padding: 0px 3px;
                background-color: #f2e6ff;
                box-shadow: inset 1px 1px 2px;
                border-radius: 3px;
                border-radius: 14px;
                width: 30px;
                height: 30px;

              }
            }
          }
        }
      }
    }

    .chatContainer{
      //display: flex;
      margin: auto;
      background-color: #c4c4eb;
      height: 100vh;
      width: 100vh;
      //box-shadow: 10px 5px 5px rgb(91, 74, 112);
      //border-radius: 5px;
      overflow: hidden;

      .chatMessages{
        margin-top: 6px;
        height: 641px;
        width: 515px;
        //background-color: #f1eaf5;
        border-radius: 10px;
        //box-shadow: inset 2px 2px 3px #948f96;

        overflow: auto;

        .message{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 5px;
          padding: 10px;
          //border-bottom: 0.1px dashed grey;

          background-color: white;
          border-radius: 10px;

          .userMessage {
            font-size: 22px;
          }

          .user{
            font-weight: bold;
          }

          .usersMessages{
            margin-right: auto;
          }

          .ownMessage{
            margin-left: auto;
            margin-right: 10px;
          }
          .date{
            font-size: 15px;
          }
        }
      }
      .chatInput{
        display:block;
        height: 50px;
      }

      .createRoom{
          display: block;
          height: 50px;
      }

      .createRoomError{
        color:#990033;
        text-shadow: 2px 1px 2px #e07699;
      }

      .chatCard{
        display: block;

        .currentRoomInfo{
          margin: 0 auto;
          height: 80px;
          background-color: white;


          .roomTitile{
            text-shadow: 1px 1px 2px #7e7ea3;
          }

          .currentRoomName{
            display: flex;
            padding-top: 10px;
            padding-left: 25px;
            //justify-content: center;
            align-items: center;
            height: 25px;
            font-size: 25px;
            //box-shadow: inset 1px 1px 2px #7e7ea3;
            //background-color: #f1eaf5;
            //border-radius: 6px;
            font-weight: bold;
          }
        }
      }
    }

    .closeBtn{
      background-color: #ffff99;
      border-radius: 5px;
      border:none;
      margin-left: 3px;

      &:hover{
        cursor: pointer;
      }
    }

    .deleteBtn{
      background-color: #990033;
      border-radius: 5px;
      border:none;
      color: #ffe6ee;

      &:hover {
        cursor: pointer;
      }
    }

    .chatInput{

      .input{
        width: 450px;
        height: 30px;
        border-radius: 5px;
        border: none;
        box-shadow: inset 2px 1px 3px  #7e7ea3;
        margin: 5px;
        padding: 5px;
      }
    }

    .inputBtn{
      background-color: #e6ccff;
      border-radius: 5px;
      padding: 4px;

      &:hover{
        cursor: pointer;
        background-color: #a594b6;
        color:#f1eaf5;
      }
    }
}
