.registration {
  background-color: #666699;
  padding: 15px;
  color: #f0f0f5;

  font-size: 20px;

  .myForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputError{
      color: #c88484;
      text-shadow: 2px 1px 2px #ec3d3d;
      border-bottom: 0.5px #ec3d3d;
      font-size: 16px;
      text-decoration: underline;
    }

    .regTitle{
      text-decoration: underline;
      margin-bottom: 10px;
    }

    .regContainer{
      float: left;

      .inputItem{
          margin: 0px 10px;
          height: 35px;
          font-size: 20px;
          border-radius: 5px;
      }
    }

    .btn {
      margin: 5px;
      width: 274px;
      height: 35px;
      border-radius: 5px;
      font-size: 20px;
      border: none;
      background-color: #9494b8;

      &:hover{
          cursor: pointer;
          background-color: #8c8cc7;
          color: #f0f0f5;
      }
    }
    .navDiv{

      .navText{
        color: #610c9c;
        text-shadow: 1px 1px 2px #b058ee;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
