$size: 25px;

.chat{
    display: flex;
    justify-content: center;

    .info-container{
      width: 270px;
      min-width: 270px;
      background-color: white;
      border-right: 0.2px solid #eee9e9;

      .user-container{
        display: block;
        padding: 20px 0px 0px 20px;
        font-size: $size;
        width: 50px;

        .btn{
          padding: 5px;
          background-color: #990033;
          border-radius: 6px;
          color: #ffe6ee;

          &:hover{
            cursor: pointer;
            background-color: #4d0019;
          }
        }
      }

      .roomlist{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .create-room{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 15px;
          margin-top: 30px;
          margin-bottom: 10px;

          .intput{
            border-radius: 6px;
            border: none;
            box-shadow: inset 1px 1px 2px black;
            background-color: #eee9e9;
            outline: none;
            margin-bottom: 5px;

            height: 25px;
            width: 235px;

            font-size: 14pt;
          }

          .room-creater-btn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 217px;
            height: 33px;
            margin-top: 4px;
            background-color: #3f00cc;
            color: #f2e6ff;
            border: none;
            border-radius: 8px;
            box-shadow: 1px 1px 2px #2e015c;
            text-shadow: 1px 1px 1px #2e015c;
            font-weight: bold;

            &:hover{
              cursor: pointer;
              background-color: #861fec;
            }
          }
        }

        .room-container{
          display: flex;
          flex-direction: column;
          overflow: auto;

          .rooms-card{
            display: flex;
            align-items: center;

            .room-item{
              display: flex;
              align-items: center;
              flex-grow: 3;
              overflow: hidden;
              height: 60px;
              padding-left: 5px;
              border-bottom: 0.1px solid #cbc9ce;


              font-size: 18px;
              &:hover {
                cursor: pointer;
              }
            }
              .cur-room{
                background-color: #e7ccff;
                display: flex;
                align-items: center;
                flex-grow: 3;
                overflow: hidden;
                height: 60px;
                padding-left: 5px;
                border-bottom: 0.1px solid #cbc9ce;

                font-size: 18px;

                &:hover {
                cursor: pointer;
                }
              }

            .room-info-block{
              display: flex;
              justify-content: flex-end;

              .message-count{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
                padding: 0px 3px;
                background-color: #f2e6ff;
                border-radius: 14px;
                width: 30px;
                height: 30px;

              }
            }
          }
        }
      }
    }

    .chat-container{
      background-color: #c4c4eb;
      overflow: hidden;
      overflow: hidden;

      .chat-messages{
        margin-top: 6px;
        height: 641px;
        border-radius: 10px;

        overflow-y: scroll;

        .messages-block{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 850px;

          .message-buttons{
            float: right;

            .submit-message-delete-btn{
              background: none;
              border: none;

              .submit-icon{
                width: 16px;
                height: 16px;
                background: none;
              }

              &:hover{
                cursor: pointer;
              }
            }
          }

        }

        .message{
          display: flex;
          width:640px;
          margin-top: 5px;
          border-radius: 10px;

          .user-message {
            font-size: 22px;
          }

          .user{
            font-weight: bold;
          }

          .users-messages{
            margin-right: auto;
            margin-right: 10px;
            box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
            background-color: white;
            border-radius: 10px 10px 10px 0px;
            padding: 10px;
            max-width: 650px;

            word-wrap: break-word
          }

          .own-message{
            margin-left: auto;
            box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
            background-color: white;
            border-radius: 10px 10px 0px 10px;
            padding: 10px;
            max-width: 650px;
          }
          .date{
            font-size: 15px;
          }
        }
      }
      .chat-input{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }

      .chat-card{
        display: block;

        .current-room-info{
          height: 80px;
          background-color: white;

          .room-buttons{
            display: flex;
            padding: 15px;
          }

          .room-titile{
            text-shadow: 1px 1px 2px #7e7ea3;
          }

          .current-room-name{
            display: flex;
            padding-top: 10px;
            padding-left: 25px;
            align-items: center;
            height: 25px;

            font-size: 25px;
            font-weight: bold;
          }
        }
      }
    }

    .close-btn{
      background: none;
      color: #666699;
      border:none;
      margin-left: 3px;
      margin-right: 10px;
      padding: 5px;
      text-decoration: underline;

      font-size: 15px;
      font-weight: bold;

      &:hover{
        cursor: pointer;
      }
    }

    .delete-btn{
      background: none;
      color: #990033;
      border:none;
      float: right;
      text-decoration: underline;
      font-size: 15px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    .chat-input{

      .input{
        width: 450px;
        height: 30px;
        border-radius: 5px;
        border: none;
        box-shadow: inset 2px 1px 3px  #7e7ea3;
        margin: 5px;
        padding: 5px;
        outline: none;
      }
    }

    .input-btn{
        background-color: #6600cc;
        border-radius: 5px;
        padding: 4px;
        color: white;
        border: none;
        height: 30px;

      &:hover{
        cursor: pointer;
        background-color: #a594b6;
        color:#f1eaf5;
      }
    }

    .create-room{
      display: block;
      height: 50px;
  }

  .create-room-error{
    color:#990033;
    text-align: center;
  }

  .create-room-modal{
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);

    .modal-content{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding: 20px;
      margin: auto;
      width: 42%;

      .title{
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }

    .room-creater-btn{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 217px;
      height: 33px;
      margin-top: 4px;
      background-color: #3f00cc;
      color: #f2e6ff;
      border: none;
      border-radius: 8px;
      box-shadow: 1px 1px 2px #2e015c;
      text-shadow: 1px 1px 1px #2e015c;
      font-weight: bold;
      margin-top: 20px;

      &:hover{
        cursor: pointer;
        background-color: #861fec;
      }
    }

    .btn-quit{
      background-color: brown;
      color: white;
      padding: 10px;
      border: none;
      margin-top: 15px;
      border-radius: 10px;
      width: 218px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modal-close-buttons{
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .close-buttons{
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 20%;
      height: 18%;
      box-shadow: 1px 7.5px 20px grey;

      .title{
        font-weight: bold;
        font-size: 22px;
      }

      .cancel-button{
        border: none;
        background-color: #fefefe;
        box-shadow: 1px 0.5px 5px grey;
        padding: 6px;
        margin: 9px;

        font-weight: bold;
        font-size: 18px;

        &:hover{
          cursor: pointer;
        }
      }

      .confirm-button{
        background-color:brown;
        border: none;
        box-shadow: 1px 0.5px 5px grey;
        padding: 6px;
        margin: 9px;
        color: cornsilk;

        font-weight: bold;
        font-size: 18px;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
