.roomlist{
  margin-top: 20px;
  width: 150px;

  .roomContainer{
    background-color: #9d9de4;
    height: 500px;

    .roomsCard{

      .roomItem{
        background-color: #e6ccff;
        border: solid 0.5px #cbc9ce;
        height: 40px;

        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
