<div class="roomlist">
  <div class="createRoom">
    <input [(ngModel)]="roomName" type="text" name="roomcreater" class="intput">
    <button class="RoomCreaterBtn" (click)="createRoom()">Create room</button>
  </div>
  <div class="roomContainer">
    <div *ngFor="let room of rooms" class="roomsCard">
      <div class="roomItem" (click)="joinToTheRoom(room.name, room.room_id)">
        {{room.name}}
        <button (click)="deleteRoom(room.room_id)" class="delete">X</button>
      </div>
    </div>
  </div>
</div>
