.authorization-container{
    background-color: #666699;
    padding: 15px;
    color: #f0f0f5;

    font-size: 20px;

    .my-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-error{
        color: #c88484;
        text-shadow: 2px 1px 2px #ec3d3d;
        border-bottom: 0.5px #ec3d3d;
        font-size: 16px;
        text-decoration: underline;
      }

      .auth-container{
        float: left;

        .input-item{
            margin: 0px 10px;
            height: 35px;
            font-size: 20px;
            border-radius: 5px;
            border: none;
            outline:none;
        }
      }

      .btn {
        margin: 5px;
        width: 274px;
        height: 35px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        background-color: #9494b8;

        &:hover{
            cursor: pointer;
            background-color: #8c8cc7;
            color: #f0f0f5;
        }
      }
      .nav-div{

        .nav-text{
          color: #610c9c;
          text-shadow: 1px 1px 2px #b058ee;

          &:hover{
            cursor: pointer;
          }
        }
      }
  }
}


